.profile-photo {
  border-radius: 30px;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 1);
  border: 3px white solid;
  background-color: #000000;
  translate: 5px 30px;
}
 

/* 
.project-videos:hover {
  border: 4px #00ff22 solid;
  box-shadow: 0px 0px 20px 5px rgba(0, 255, 34, 0.75);
} */

.app-container {
  color: white;
  width: 100vw;
  height: 100vh;
  /* display: block; */
  position: relative;
  background-color: #000000;
  border: 3px solid green;
}

.hero {
  color: white;
  height: auto;
  display: block;
  position: relative;
  background-color: #000000;
}

.hero-image {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: repeat;
}


.button {
  background: #000000;
  border-color: #000000;
  color: white;
  font-size: 2vw;
  padding: 3px;
  padding-inline: 3vw;
  margin: 2vw;
  height: auto;

}

.button:hover {
  transform: scale(1);
  transition: 0.2s linear;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);
  z-index: 1;

}

.button:active {
  transform: scale(0.9);
  transition: 0.02s linear;
  box-shadow: 0px 0px 20px 30px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 20px 30px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 20px 30px rgba(255, 255, 255, 0.75);
  z-index: 1;

}

.aboutme {
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: calc(3vw);
  text-align: right;
  height: "auto";
  color: white;
  padding-inline: 20px;
  background-color: transparent
}
.footer-base{
  display: flex;
  flex-direction: row;
  
}
.footer-logo{
  z-index: -100;
  transition: 2s ease-in-out;
  margin: 5vw;
  width: 15vw;
  height: auto;
  background-color: white;
  border-radius: 50%;
 }


@tailwind base;
@tailwind components;
@tailwind utilities;